<div class="container">
    <span id="title"> Dados Pessoais </span>
    <span id="criar"> {{acao}} </span>
    <div class="spacer"></div>
    <mat-form-field>
        <mat-label> Nome </mat-label>
        <div>
            <input matInput [formControl]="nome" type="text" required>
        </div>
    </mat-form-field>
    <mat-form-field>
        <mat-label> Faces </mat-label>
        <div>
            <input matInput [formControl]="faces" type="number" required>
        </div>
    </mat-form-field>
    <mat-form-field>
        <mat-label> Quantidade </mat-label>
        <div>
            <input matInput [formControl]="quantidade" type="number" required>
        </div>
    </mat-form-field>
    <mat-form-field>
        <mat-label> Condição </mat-label>
        <div>
            <input matInput [formControl]="condicao" type="text">
        </div>
    </mat-form-field>
    <div class="buttonsDiv">
        <button id="criarBtn" (click)="criarDado()" *ngIf="acao == 'Criar'" mat-button>
            <mat-icon> done </mat-icon>
            <span> {{acaoDado}} </span>
        </button>
        <button id="criarBtn" (click)="editarDado()" *ngIf="acao == 'Editar'" mat-button>
            <mat-icon> done </mat-icon>
            <span> {{acaoDado}} </span>
        </button>
    </div>
</div>