<div>
    <div class="chegadaDiv">
        <span id="title">Bem vindo ao Dicenamics!</span>
        <img src="../assets/images/dicenamics.logo.png" alt="Logo" id="logo">
    </div>
    <div class="divSpace"></div>
    <div class="loreDiv">
        <span>
            <span id="titleLore">Qual o propósito desse site?</span><br><br>
            Dicenamics é uma aplicação feita para<br>
            os jogadores e mestres de RPG que necessitam<br>
            de uma ferramenta de dados para seus RPGs, tanto os<br>
            online, quanto os presenciais, dados são a alma do RPG<br>
            e é isso que nos propomos a fazer: Rolar dados.<br><br><br>
        </span>
        <span> 
            <span id="titleLore"> Porquê devo usar o Dicenamics? </span><br><br>
            Além de ser uma aplicação completa, com<br>
            rolagem dados, customização dos dados, faces ilimitadas<br>
            e salas para rolagem com amigos, o Dicenamics é<br>
            COMPLETAMENTE BRASILEIRO.<br>
            ou seja, tudo aqui está em Português Brasileiro.<br><br><br>
        </span>
        <span>
            <span id="titleLore"> Quais as funcionalidades? </span><br><br>
            Como lista de funcionalidades temos:<br><br>
            - Rolagem de Dados Customizados.<br>
            - Criação de Salas de Rolagem além de Dados Únicos de Salas.<br>
            - Diferentes Modos de Rolagem.<br>
            - Completamente Brasileiro.<br><br><br>
        </span>
    </div>
</div>