.container {
    height: calc(100% - 64px);
}

#title {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    font-size: 45px;
    color: white;
    font-weight: bold;
}

.spacer { 
    margin: 50px;
}

.listaSintax{
    margin: 50px;
    padding-bottom: 75px;
}

.content {
    margin: 10px;
}

.contentTitle {
    font-size: 25px;
    color: gold
}

.contentSubTitle {
    padding-left: 10px;
    font-size: 17px;
    color: #CCCCFF;
    font-style: italic;
}

.contentText {
    font-size: 14px;
    padding-top: 15px;
}

.contentText > #first {
    padding-left: 20px;
}