<mat-toolbar class="nav-bar">
    <a>
        <img src="../assets/images/dicenamics.logo.png" alt="Logo" class="logo-dicenamics">
    </a>
    <span>
        Dicenamics
    </span>
    <span class="space"></span>
    <div *ngIf="!appComponent.logando; main loginIn">
        <button mat-button class="btn-login" (click)="login()" #main>
            <span>Login</span>
            <mat-icon>person_outline</mat-icon>
        </button>
    </div>
    <div *ngIf="appComponent.logando; main loginIn">
        <button mat-button class="btn-voltar" (click)="voltar()" #loginIn>
            <span>Voltar</span>
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
</mat-toolbar>