<!-- Navigation Bar Chegada -->
<app-nav-bar-main *ngIf="checkLogin(); else initial"></app-nav-bar-main>

<!-- Navigation Bar Após Login -->
<ng-template #initial>
    <mat-toolbar class="nav-bar">
        <a>
            <img src="../assets/images/dicenamics.logo.png" alt="Logo" class="logo-dicenamics">
        </a>
        <span>
            Dicenamics
        </span>
        <span class="space"></span>
        <button (click)="sidenav.toggle()" mat-icon-button>
            <mat-icon> menu </mat-icon>
        </button>
    </mat-toolbar>
</ng-template>

<mat-sidenav-container #initial class="sideNav">
    <mat-sidenav #sidenav [opened]="false" mode="side" position="end">
        <mat-nav-list>
            <div class="listItem">
                <button mat-icon-button (click)="voltarHome()">
                    <mat-icon> home </mat-icon>
                </button>
                <span class="text"> Home </span>
            </div>
            <div class="listItem">
                <button mat-icon-button (click)="navUsuario()">
                    <mat-icon> person </mat-icon>
                </button>
                <span class="text"> Usuário </span>
            </div>
            <div class="listItem">
                <button mat-icon-button (click)="navSalas()">
                    <mat-icon> door_front </mat-icon>
                </button>
                <span class="text"> Salas </span>
            </div>
            <div class="listItem">
                <button mat-icon-button (click)="navDadosPessoais">
                    <mat-icon> check_box_outline_blank </mat-icon>
                </button>
                <span class="text"> Dados Pessoais </span>
            </div>
            <div class="listItem">
                <button mat-icon-button (click)="navSintaxe()">
                    <mat-icon> code </mat-icon>
                </button>
                <span> Sintaxe </span>
            </div>
            <div class="listItem">
                <button mat-icon-button (click)="abrirPopUp('100ms', '100ms'); sidenav.toggle()">
                    <mat-icon> arrow_back </mat-icon>
                </button>
                <span class="text"> Sair </span>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet>
            <!-- Conteúdo -->
        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>