<div class="conteiner">
    <div class="header">
        <span id="title">Dados - Salas</span>
        <span id="criar"> {{acaoPg}} </span>
    </div>
    <div class="spacer"></div>
    <div id="layer1">
        <mat-form-field class="formDado" appearance="outline" color="accent">
            <mat-label> Nome </mat-label>
            <div>
                <input matInput [formControl]="nome" type="text" required>
            </div>
            <mat-hint align="start"><strong>Ex: Ataque de Espada</strong> </mat-hint>
        </mat-form-field>
        <mat-form-field class="formDado" appearance="outline" color="accent">
            <mat-label> Dado </mat-label>
            <div>
                <input matInput [formControl]="dado" type="text" required>
            </div>
            <mat-hint align="start"><strong>Ex: 3d20</strong> </mat-hint>
        </mat-form-field>
        <mat-form-field class="formDado" appearance="outline" color="accent">
            <mat-label> Condição </mat-label>
            <div>
                <input matInput [formControl]="condicao" type="text">
            </div>
            <mat-hint align="start"><strong>Ex: mrv</strong> </mat-hint>
        </mat-form-field>
        <div class="formDado" id="slider">
            <mat-slide-toggle [(ngModel)]="acessoPrivado">Acesso Privado</mat-slide-toggle>
        </div>
    </div>
    <div class="buttonsDiv">
        <button id="criarBtn" (click)="criarDadoSala()" *ngIf="acaoPg == 'Criar'" mat-button>
            <mat-icon> done </mat-icon>
            <span> {{acaoDado}} </span>
        </button>
        <button id="criarBtn" (click)="voltarPg()" *ngIf="acaoPg == 'Editar'" mat-button>
            <mat-icon> done </mat-icon>
            <span> {{acaoDado}} </span>
        </button>
        <button id="voltarBtn" (click)="voltarPg()" mat-button>
            <mat-icon> arrow_back </mat-icon>
            <span> Voltar </span>
        </button>
    </div>
</div>
